main {
    margin-top : 80px
}
h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color : rgb(51, 130, 222);
    font-size : 50px
}
#button-container {
    text-align: center;
    
}
#button {
    background-color: rgb(71, 92, 168);
    color: white;
    border-radius: 50px;
    padding: 18px 40px;
    border: none;
}

}
html {
    background-color: rgb(234, 234, 231);
}
